<div class="formDialogHeader">
    <button type="button" is="paper-icon-button-light" class="btnCancel autoSize" tabindex="-1"><i class="md-icon">&#xE5C4;</i></button>
    <h3 class="formDialogHeaderTitle">
        Network Details
    </h3>
</div>

<div class="formDialogContent scrollY" style="padding-top:2em;">
    <div class="dialogContentInner dialog-content-centered">
        <form style="margin:auto;">
            <div class="inputContainer">
                <label>Name:</label>
                <span id="networkName"></span>
            </div>
            <div class="inputContainer">
                <label>ID:</label>
                <span id="networkId"></span>
            </div>
            <div class="inputContainer">
                <label>Region:</label>
                <span id="networkRegion"></span>
            </div>
            <div class="formDialogFooter">
                <button is="emby-button" type="button" class="raised button-submit block formDialogFooterItem btnAction"></button>
                <button is="emby-button" type="button" class="raised button-submit block formDialogFooterItem btnClose">
                    <span>Close</span>
                </button>
            </div>
        </form>
    </div>
</div>
